<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

        <img class="navbar-brand logo-draw" src="https://s33.postimg.cc/rrk782ti7/pen.png">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">OnePiece<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/landing_pages/draw">Drawing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/landing_pages/space">Space</a>
            </li>
          </ul>

          <span class="navbar-text">
            Anyone can learn how to draw
          </span>

        </div>
    </nav>

    <div class="banner banner-draw">
      <div  class="banner-title"  >
        <h1 id="Welcome">Welcome to our page, that your pencil remains free as art</h1>
      </div>
    </div>